<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hsj.blogwaja.dao.PathMapper">
    <insert id="save">
        INSERT INTO tb_path (blogName,blogTitle,blogPath) VALUE (#{blogName},#{blogTitle},#{blogPath})
    </insert>
    <select id="select" resultType="com.hsj.blogwaja.entity.Path">
        select * from tb_path where  blogTitle=#{blogTitle}
    </select>

</mapper>